    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
    /*reset*/
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        font-size: 100%;
        vertical-align: baseline;
    }

    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
        display: block;
    }

    body {
        line-height: 1;
    }

    ol, ul {
        list-style: none;
    }

    blockquote, q {
        quotes: none;
    }

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    body {
        font-family: 'Open Sans', sans-serif;
        background: #ffffff;
        text-align: center;
        margin: 0 auto;
        width: 1280px;
    }

    header {
        background: black;
    }

    .container {
        background: url("../img/header_background.png") no-repeat center;
        height: 271px;
    }

    .wrapper {
        max-width: 1024px;
        margin: 0 auto;
        justify-content: space-between;
    }

    .d-flex {
        display: flex;
    }

    .header_item {
        margin: 70px 0 0 0;
    }

    .contacts {
        margin: 78px 28px 0 0;
        position: relative;
    }

    .link {
        color: #edc144;
        text-decoration: none;
        border-bottom: 1px dotted #f0cf67;
    }

    .logo {
        margin: 28px 0 0 0;
    }

    .search_bar {
        margin-top: 10px;
        width: 100%;
        position: relative;

    }

    .search {
        outline: none;
        color: white;
        background: rgba(255, 255, 255, 0.1);
        font-size: 14px;
        border: 2px solid #454545;
        width: 213px;
        height: 30px;
    }

    .search::placeholder {
        color: #ffffff;
    }

    .search_bar:before {
        content: url("../img/search1.png");
        position: absolute;
        top: 11px;
        right: 12px;
    }

    .search_bar:hover:before {
        content: url("../img/search_gold.png");
        position: absolute;
        top: 11px;
        right: 12px;
    }

    .search_bar:hover .search {
        background: #5858588f;
        border: 2px solid #d5bc76;
    }

    .link_in {
        margin-right: 10px;
        position: relative;
    }

    .link_in:after {
        content: "";
        width: 1px;
        height: 18px;
        position: absolute;
        background: #f0cf67;
        left: 45px;
        top: 5px;
        z-index: 5;
    }

    .help_link {
        margin-top: 9px;
        margin-left: 35px;
    }

    .number {
        font-size: 18px;
        font-weight: 400;
        color: white;
    }

    .number_item {
        position: absolute;
        width: 17px;
        height: 17px;
        right: -29px;
        top: 2px;
        border: 1px solid #343434;
        background-color: #202020;
        cursor: pointer;
    }

    .number_item:before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        top: 4px;
        right: 5px;
        border-top: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
        transform: rotate(135deg);
        z-index: 10;
        pointer-events: none;
    }

    .number_item:hover .dropdown_contacts {

        color: #585858;
        display: block;
        opacity: 1;
        top: 100%;
        right: 0;
    }

    .number_item:hover {
        border: 1px solid #edc144;
        color: #585858;
    }

    .dropdown_contacts {
        display: none;
        position: absolute;
        min-width: 210px;
        font-size: 18px;
        opacity: 0;
        z-index: 1;
        cursor: default;
    }

    .dropdown_number {
        margin-top: 10px;
        /*padding: 22px 18px 19px 11px;*/
        background-color: #f1f1f1;
        border: 1px solid #edc144;
    }

    .dropdown_number>li {
        padding: 10px ;
    }

    .number  span {
        font-size: 22px;
    }

    .dropdown_contacts span {
        font-size: 22px;
    }

    hr {
        width: 1024px;
        color: #e5e5e5;
        opacity: 0.25;
        margin: 30px auto 0 auto;
    }

    .menu {
        margin: 20px auto 0 auto;
    }

    .menu_list {
        width: 716px;
        justify-content: space-between;
        margin: 0 auto;
    }

    .menu_list>li:first-child:before {
        content: "";
    }

    .menu_list>li:before {
        content: "\25CB";
        margin-right: 16px;
        color: #4a4a4a;
    }

    .menu_list>li>a {
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
    }

    .menu_list .active {
        color: #b69944;
        position: relative;
    }

    .active:before {
        content: "";
        background: #eec652;
        width: 63px;
        height: 2px;
        top: -21px;
        position: absolute;
        cursor: auto;
    }

    .catalog_menu {
        position: relative;
    }

    .second_dropdown_catalog {
        display: none;
        position: absolute;
        z-index: 30;
        opacity: 0;
        padding-top: 30px;
    }

    .catalog_menu:hover  .second_dropdown_catalog {
        display: block;
        top: 100%;
        left: 31px;
        opacity: 1;
    }

    .dropdown_catalog {
        background-color: #060606;
        display: flex;
        width: 397px;
        color: #b89b45;
        background-image: url("../img/catalog_menu_back.png");
    }

    .dropdown_catalog:before {
        content: "";
        position: absolute;
        /*width: 0px;*/
        /*height: 0px;*/
        top: 24px;
        left: 32px;
        border-top: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #080808;
        transform: rotate(135deg);
    }

    .man_menu {
        padding: 20px 0 0 40px;
        width: 118px;
        font-size: 14px;
        line-height: 26px;
        text-align: left;
        position: relative;
    }

    .woman_menu {
        padding: 20px 40px 20px 80px;
        width: 118px;
        font-size: 14px;
        line-height: 26px;
        text-align: left;
        position: relative;
    }

    .man {
        text-align: center;
        margin-bottom: 8px;
    }

    .man:before {
        content: "\25CB";
        margin-right: 11px;
        color: #4a4a4a;
    }

    .man:after {
        content: "\25CB";
        margin-left: 11px;
        color: #4a4a4a;
    }

    .menu_underline {
        position: relative;
    }

    .menu_underline:before {
        content: "";
        position: absolute;
        width: 118px;
        height: 1px;
        top: -7px;
        left: 1px;
        background-color: #494949;
    }

    .woman_menu:before {
        content: "";
        position: absolute;
        top: 30px;
        left: 40px;
        width: 1px;
        height: 80%;
        background-color: #111111;
    }

    .dropdown_catalog>ul>li>a {
        color: white;
        text-decoration: none;
    }

    .dropdown_catalog>ul>li>a:hover {
        text-decoration: underline;
    }

    .slider {
        background: url("../img/background_section1.png");
        height: 525px;
        margin: 0 auto;
        position: relative;
    }

    .slider_container {
        max-width: 1280px;
        margin: 0 auto;
        height: 525px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slider_button {
        background: #696972;
        width: 42px;
        height: 42px;
        top: 510px;
        left: 94px;
        position: absolute;
    }

    .arrows {
        justify-content: space-between;
        width: 1024px;
    }

    .arrow {
        background: #69697266;
        width: 42px;
        height: 42px;
        position: relative;
        z-index: 25;
    }

    .arrow:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        top: calc(50% - 6px);
        right: calc(50% - 6px);
        border-top: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
        /*transform: rotate(225deg);*/
    }

    .arrow_left:before {
        transform: rotate(225deg);
    }

    .arrow_right:before {
        transform: rotate(45deg);
        left: calc(50% - 7px);
        z-index: 15;
    }

    .arrow:hover {
        background: #060606;
    }

    .slider_content {
        position: absolute;
        top: 27%;
        left: 15%;
    }

    .name {
        position: relative;
        font-size: 38px;
        font-weight: 400;
        line-height: 64px;
        width: 350px;
        color: #ffffff;
        text-transform: uppercase;
    }

    .name span {
        font-size: 45px;
        font-weight: 700;
    }

    .name:before {
        content: "";
        position: absolute;
        width: 350px;
        height: 1px;
        top: 50%;
        left: 0;
        background: rgba(255, 255, 255, .2);
    }

    .watch {
        width: 155px;
        height: 39px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
        background-color: #eec652;
        border: 2px solid #c19324;
        /*border: none;*/
        color: #060606;
        font-size: 16px;
        margin-top: 15px;
        font-family: 'Open Sans', sans-serif;
    }

    .slider_man_front {
        position: absolute;
        top: 0;
        right: 32%;
    }

    .slider_man_behind {
        position: absolute;
        top: 0;
        right: 9%;
    }

    .watch:hover {
        background-color: #d01617;
        color: white;
        border: 2px solid #a32424;
    }

    .banner {
        justify-content: space-between;
        max-width: 1024px;
        margin: 40px auto;
    }

    .first_banner {
        width: 320px;
        height: 190px;
        position: relative;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
    }

    .first_banner>img {
        position: relative;
        top: calc(50% - 90px);
    }

    .in_banner {
        background: rgba(0,0,0, 0.5);
        width: 309px;
        height: 100px;
        position: absolute;
        left: 5px;
        top: 36%;
    }

    .in_banner>p {
        display: inline-block;
        color: white;
        font-size: 18px;
        font-weight: 700;
        position: relative;
        top: 20px;
    }

    .in_banner>p:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        top: 30px;
        background: rgba(65, 73, 79, .5);
    }

    .btn_banner {
        position: absolute;
        padding-bottom: 3px;
        left: calc(50% - 33px);
        bottom: 18px;
    }

    .in_banner:hover {
        background: rgba(237, 193, 68, .6);
    }

    .in_banner:hover p {
        color: black;
    }

    .in_banner:hover>.btn_banner{
        color: white;
        border-bottom: 1px dotted white;
    }

    .btn_banner:hover {
        color: white;
        border-bottom: 1px dotted white;
    }

    .btn_banner:hover .in_banner {
        background: #edc144;
    }

    .hot_deal {
        margin: 0 auto;
    }

    .wrapper_hot_deal {
        position: relative;
        max-width: 1024px;
        margin: 0 auto;
    }

    .hot_deal_header {
        color: #060606;
        font-size: 26px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 80px;
        margin-bottom: 55px;
        position: relative;
    }

    .hot_deal_header:before {
        content: "";
        position: absolute;
        width: 338px;
        height: 2px;
        background-color: #e5e5e5;
        top: 145%;
        left: calc(50% - 169px);
    }

    .hot_deal_header:after {
        content: "";
        position: absolute;
        width: 1024px;
        height: 1px;
        background-color: #e5e5e5;
        top: 160%;
        left: 0;
    }

    .arrows_hot_deal {
        position: absolute;
        justify-content: space-between;
        width: 42px;
        top: 0;
        right: 1px;
    }

    .arrow_hot_deal {
        background: #696972c4;
        width: 20px;
        /*opacity: .4;*/
        height: 20px;
        position: relative;
        z-index: 25;
    }

    .arrow_hot_deal:before {
        content: "";
        position: absolute;
        width: 5px;
        height: 5px;
        top: calc(50% - 2px);
        right: calc(50% - 4px);
        border-top: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
    }

    .arrow_right_hot_deal:before {
        transform: rotate(45deg);
        left: calc(50% - 4px);
        z-index: 15;
    }

    .arrow_hot_deal:hover {
        background: #060606;
    }

    .hot_deal_catalog {
        max-width: 1024px;
        margin: 0 auto;
        justify-content: space-between;
    }

    .title_picture {
        position: relative;
    }

    .left_banner {
        background: url(../img/hot_deal_ban.png) no-repeat;
        position: absolute;
        top: 21px;
        left: -5px;
        width: 97px;
        height: 31px;
        display: inline-block;
    }

    .left_banner>p {
        left: 0;
        top: calc(50% - 8px);
        position: relative;
        font-size: 12px;
        color: #060606;
    }

    .title_picture>img {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
        padding: 7px;
    }

    .title_picture>p {
        max-width: 211px;
        font-size: 14px;
        line-height: 22px;
        color: #060606;
        text-align: left;
        font-weight: 400;
        margin-top: 10px;
        text-decoration: underline;
        text-underline-offset: 4px;
    }

    .background_coat {
        /*content: "";*/
        position: absolute;
        background: url("../img/background_hover.png");
        top: -14px;
        left: -12px;
        z-index: 25;
    }

    .title_picture:hover>.background_coat  {
        width: 255px;
        height: 434px;
    }

    .title_picture:hover>img {
        box-shadow: none;
    }

    .background_coat>p {
        display: none;
        position: absolute;
        color: white;
        font-size: 22px;
        font-family: "Open Sans - Bold", sans-serif;
        font-weight: 700;
        top: 34%;
        left: calc(50% - 92px);
    }

    .background_coat>p>span {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
    }

    .title_picture:hover>.background_coat>p {
        display: block;
    }

    .title_picture:hover>.left_banner {
        display: none;
    }

    .btn_hot_deal {
        display: none;
    }

    .title_picture:hover>.background_coat>.btn_hot_deal {
        position: relative;
        display: block;
        left: calc(50% - 77px);
        bottom: 20%;
        top: 47%;
    }

    .background_coat>p:before {
        content: "";
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;
        height: 1px;
        background: #535356;
    }

    .background_coat>p:after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 100%;
        height: 1px;
        background: #535356;
    }

    .new_left_banner {
        background: url(../img/banner_new.png) no-repeat;
        position: absolute;
        top: 21px;
        left: -5px;
        width: 97px;
        height: 31px;
        display: inline-block;
    }

    .new_left_banner>p {
        left: 0;
        top: calc(50% - 8px);
        position: relative;
        font-size: 12px;
        color: #060606;
    }

    .title_picture:hover>.new_left_banner {
        display: none;
    }

    .about_company {
        width: 1024px;
        margin: 0 auto;
    }

    .about_company>img  {
        float: left;
        margin-right: 19px;
    }

    .about_company>p {
        text-align: left;
        line-height: 22px;
        font-size: 14px;
    }

    .about_company>p {
        margin-bottom: 25px;
    }

    .online {
        width: 1024px;
        margin: 0 auto;
        position: relative;
    }

    footer {
        background: #060606;
    }

    .menu_footer {
       padding-top: 20px;
    }

    .active_footer:before {
        top: 34px;
    }

    .line_footer {
        margin-top: 17px;
    }

    .copyright {
        color: white;
        align-self: center;
        text-align: left;
        position: relative;
        line-height: 25px;
    }

    .copyright_text {
        display: inline-block;
    }

    .copyright:before {
        content: url("../img/copyright.jpg");
        position: absolute;
        top: -5px;
        right: 0;
    }

    .footer_contacts {
        color: white;
        align-self: center;
        position: relative;
    }

    .footer_contacts_first {
        display: inline-block;
        margin-right: 40px;
    }

    .footer_contacts_second {
        display: inline-block;
    }

    .footer_contacts:before {
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        top: 1px;
        left: 50%;
        background: #edc144;
    }

    .online {
        text-align: right;
    }

    .watch_footer {
        position: relative;
        background-image: linear-gradient(to top, #ecbc35 0%, #f2d77c 100%);
    }

    .watch_footer>p {
        right: -15px;
        position: relative;
    }

    .watch_footer:hover {
        background-image: linear-gradient(to top, #cc0001 0%, #d63334 100%);
    }

    .watch_footer:before {
        content: url("../img/speech_bubbles.png");
        position: absolute;
        top: calc(50% - 8px);
        left: 17px;
    }

    .watch_footer:hover:before {
        content: url("../img/speech_bubbles_red.png");
        position: absolute;
        top: calc(50% - 8px);
        left: 17px;
    }

    .basket {
        position: fixed;
        right: -50px;
        top: calc(50% - 78px);
        transform: rotate(270deg);
    }

    .basket_button{
        position: relative;
    }

    .basket_button:before {
        content: url(../img/basket.png);
        position: absolute;
        top: calc(50% - 10px);
        left: 17px;
    }

    .basket_button:hover:before {
        content: url(../img/basket_red.png);
        position: absolute;
        top: calc(50% - 10px);
        left: 17px;
    }